* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 18px;
  /* outline: 1px solid red !important; */

  --primary: #52b4c5;
  --link: #3574df;
  --primary-light: #aee9f3;
  --primary-dark: #439af3;
  --accent-one: #e7ae32;
  --accent-two: #0da068;
  --accent-three: #9656e0;
  --warning: #e6db44;
  --warning-dark: #aca10a;
  --danger: #dd4242;
  --danger-dark: #9e3232 ;
  --success: #40c240 ;
  --success-dark: #297529;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #aaa; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}


.m-0a {
  margin: 0 auto;
}

.m-1 {
  margin: 15px;
}

.mt-1 {
  margin-top: 20px;
}

.mt-2 {
 margin-top: 15px;
}

.mt-3 {
  margin-top: 10px;
}

.mb-1 {
  margin-bottom: 20px;
}

.mb-2 {
  margin-bottom: 15px;
}

.ml-1 {
  margin-left: 15px;
}

.ml-2 {
  margin-left: 12px;
}

.mr-1 {
  margin-right: 15px;
}


.flex-centre-h {
  display: flex;
  justify-content: center;
}

.flex-around-h {
  display: flex;
  justify-content: space-around;
}


.media {
  display: grid;
  position: relative;
  grid-template-columns: 128px 3fr 1fr;
  column-gap: 10px;
  grid-template-areas:
  "image    header   header"
  "image    .....    ......"
  "content  content    content"
  "footer   footer   footer";
}

@media screen and (max-width: 500px) {
  .media {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .media-footer {
    flex-direction: column;
  }
}

*[class|=media] {
  margin: .5rem 0;
}


.media-image {
  grid-area: image;
}

.media-header {
  grid-area: header;
}

.media-footer {
  grid-area: footer;
}


.column-container {
  max-width: 100%;
  padding: 1.25rem;
}

.grid-container-small {
  max-width: 800px;
}

.grid-auto {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.abs-top-right {
  position: absolute;
  right: 10%;
  top: 20%;
}

*[class|="container"], *[class~="container"] {
  padding: .6rem;
  margin: 0 auto;
  min-width: 350px;
}

.container.is-narrow-1 {
  max-width: 780px;
}

.container.is-narrow-2 {
  max-width: 560px;
}

.container.is-narrow-3 {
  max-width: 400px;
}

.container.is-wide-2 {
  max-width: 980px;
}

.banner-container {
  font-size: 70px;
  line-height: 100px;
}

.title-container {
  padding: .2rem;
  border-bottom: 1px solid #444;
  margin-bottom: .2rem;
}

.banner {
  min-height: 100px;
  background-color: var(--primary);
  padding: .3rem;
}

.navbar {
  margin: 0 .2rem;
  padding: .5rem .2rem;
  min-height: 60px;
}

.navbar-list {
  display: flex;
  justify-content: space-evenly;
  border: 1px dashed var(--accent);
}

.navbar-item {
  height: 50px;
  line-height: 50px;
  font-size: 2rem;
  text-align: center;
  border: 1px outset black;
}

.navbar-item:hover {
  background-color: var(--link);
  color: white;
}

@media screen and (max-width: 500px) {
  
  .navbar {
    position: relative;
  }

  .navbar-item {
    float: none;
    display: block;
  }

  .navbar-list a {
    display: block;
  }

  .navbar-list {
    display: block;
  }

  .invisible {
    display: none;
  }

  .mobile-button {
    display: block;
    width: 97vw;
    height: 50px;
  }

  .mobile-button:hover {
    background-color: var(--accent-one);
  }
}

.bg-primary-light {
  background-color: var(--primary-light);
}

.bd-primary-dark {
  border: 1px solid var(--primary-dark);
}

.link, link:visited {
  color: var(--link);
}

.active {
  background-color: var(--accent-two);
}

.button {
  padding: 5px;
  text-decoration-line: none;
  max-width: 256px;
  border-radius: 4px;
  background-color: rgb(238, 230, 230);
  border: 1px solid rgb(211, 208, 208);
  opacity: .9;
  transition: all 45ms 2ms ease-out;
}

.button:focus {
  border: 3px solid var(--accent-one);
}

.button:hover {
  transform: translateY(-2px);
  box-shadow: 1px 2px 2px 2px #555;
}

.button.is-small {
  width: 60px;
}

.button.is-danger {
  background-color: var(--danger);
  color: white;
}

.button.is-success {
  background-color: var(--success);
  color: white;
}

.button.is-warning {
  background-color: var(--warning);
  color: black;
}

.button.is-primary {
  color: black;
  background-color: var(--primary);
}

.button.is-transparent {
  background: none;
  color: black;
}

.button.is-transparent:hover {
  text-decoration: underline;
}


.button.is-primary:hover {
  box-shadow: 1px 2px 2px 2px var(--primary-dark);
}

.button.is-warning:hover {
  box-shadow: 1px 2px 2px 2px var(--warning-dark);
}

.button.is-danger:hover {
  box-shadow: 1px 2px 2px 2px var(--danger-dark);
}

.button.is-success:hover {
  box-shadow: 1px 2px 2px 2px var(--success-dark);
}


.button:active {
  opacity: .6;
}

.card {
  margin: .5rem 1rem;
  height: 300px;
  border: 1px solid #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 2px 2px #ddd;
  padding: 1rem .5rem;
  position: relative;
}

@media screen and (max-width: 500px) {
  .card {
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
}

.card:focus, .card:target, .card:hover {
  box-shadow: 1px 1px 2px 2px var(--primary-dark);
}

.feedback-temp {
  position: fixed;
  min-width: 1rem;
  bottom: 5px;
  left: 5px;
  padding: .5rem;
  color: #fff;
  z-index: 2;
  background-color: var(--accent-three);
}

.br {
  position: absolute;
  bottom: 0;
  right: 0;
}

.feedback-perm {
  min-width: 1rem;
  background-color: var(--primary-light);
}

.feedback-perm::before {
  content:'';
  padding-top: 50%;
}

@media screen and (max-width: 500px) {
  *[class*=section] {
    height: auto;
  }
}

.title {
  font-size: 2.75rem;
}

.title.is-1 {
  font-size: 3.25rem;
}

.title.is-2 {
  font-size: 3rem;
}

.title.is-3 {
  font-size: 2.5rem;
}

.title.is-4 {
  font-size: 2.25rem;
}

.title.is-5 {
  font-size: 2rem;
}

.content {
  font-size: 1.2rem;
  line-height: 1.3;
  padding: .5rem 0;
  display: block;
}

.content.is-large {
  font-size: 1.3rem;
}

.content.is-medium {
  font-size: 1.1rem;
}

.content.is-small {
  font-size: .9rem;
}

.text-centre {
  text-align: center;
}

.figure {
  width: 128px;
  height: 128px;
  border: 1px solid #444;
}
